<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" conten="widgth=devie-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>about me | John Bragado</title>
    </head>
    <body>
        <h1><b>about me</b></h1>
        <div class="container">
            <div class="item">
                <img src="../assets/placeholder_picture.jpg" alt="a picture of me" width="100%">
            </div>
            <div class="item">
                <p>Hey! My name is John Bragado. I'm a student at UC Berkeley studying Data science and Physics.</p>
                <p>I was born in the Philippines but raised in Pomona, CA</p>
                <p>My interests lie in data and computing. I've explored this through data journalism at <a href="https://dailycal-projects.netlify.app/">The Daily Californian</a>, simulations modeling at <a href="https://www.berkeleyse.org/">Space Enterprise at Berkeley</a>, and ML projects at <a href="https://codeology.studentorg.berkeley.edu/#/projects">Codeology</a>.
                </p>
            </div>
        </div>
        
    </body>
</html>
